# Dependencies
node_modules
.yarn
.pnp.*

# Build outputs (but keep hardhat artifacts)
dist
build
coverage
typechain-types
out

# Git
.git
.github
.gitignore
.gitmodules

# IDE
.vscode
.idea

# Misc
.env*
*.log
coverage.json

# Keep necessary files
!hardhat.config.ts
!tsconfig.json
